<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>네이버 : 회원가입</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
  <link rel="stylesheet" href="./css/naver_signup.css">
</head>
<body>
  <!-- 헤더 영역 -->
  <header>
    <!-- 가운데 정렬을 위한 inner div -->
    <div class="top">
      <!-- h1(강조의 의미) 또는 div를 사용해도 상관없음 -->
      <h1 class="logo">
        <a href="">로고 자리</a>
      </h1>
    </div>
  </header>

  <!-- 메인 영역 -->
  <main id="container">
    <!-- 가운데 정렬을 위한 inner div -->
    <div class="section-input">
      <label for="id">아이디</label>
      <div class="input-group-row">
        <input type="text" id="id">
        <span>@naver.com</span>
      </div>

      <!-- 이 안에 작업하세요. -->
    </div>
  </main>

  <!-- 푸터 영역 -->
  <footer>
    <!-- 가운데 정렬을 위한 inner div -->
    <div class="bottom">
      <div class="bt-menu">
        하단 메뉴 자리
      </div>
      <div class="copyright">
        카피라이트 자리
      </div>
    </div>
  </footer>
</body>
</html>